@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@100;400;700;900&display=swap");

:root {
  font-family: "Roboto", sans-serif;
  --green: #4b9200;
  --orange: #f9804b;
  --orange-2: #fe9013;
  --orange-hover: #e47209;
  --yellow: #ffee2e;
  --orange-grad: #fed290;
  --pink-grad: #febdab;
  --rad: #d31414;
  --black-1: #333b41;
  --black-2: #111115;
  --gray: #767474;
  --gray-smoky: #ababab;
  --gray-light: #f1f3f2;
  --gray-1: #bdbdbd;
  --glass-white: #fdfdff;
  --background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  box-sizing: border-box;
  --background-1: rgba(253, 253, 255, 0.52);
  --backdrop-filter: blur(2px);
  --background-2: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  --opacity: 0.9;
  --pink-gradient: linear-gradient(
    to right,
    #febdab 74%,
    #f3a9f8 66%,
    #e0d8f0 100%,
    #eaf7fe 100%,
    #eaf7fe 100%
  );
}
ul li {
  list-style-type: none;
}
li a {
  text-decoration: none;
  color: white;
}
li:hover,
li:active,
a:hover,
a:active,
.active {
  color: var(--orange-hover);
  cursor: pointer;
}

.nav {
  background-color: black;
  color: white;
  width: 100vw;
}
.nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.1em 13.75em;
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}
.nav-content li {
  padding-left: 3.625em;
}
@media screen and (max-width: 1440px) {
  .nav-content {
    padding: 1.1em 3em;
  }
}
.nav-content li:last-child {
  margin-left: auto;
}
.img {
  max-width: 100vw;
}
.img-panda {
  width: 100vw;
}
.card {
  position: relative;
  text-align: center;
  /* max-width: 25em; */
}
.card-favorite h2 {
  position: absolute;

  z-index: 2;
  color: white;
  text-transform: uppercase;
  font-size: 6.65625rem;
  width: 31.269rem;

  left: 55rem;
  top: 5.375rem;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  line-height: 75%;
}
@media screen and (max-width: 1440px) {
  .card-favorite h2 {
    font-size: 5.313rem;
    max-width: 25.016rem;
  }
}
@media screen and (max-width: 1024px) {
  .card-favorite h2 {
    font-size: 3.393rem;
    max-width: 20rem;
    left: 35rem;
    top: 3.6rem;
  }
}
.favorite-text {
  color: var(--yellow);
}
.btn {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem;
  word-wrap: nowrap;

  border: none;
  border-radius: 25px;
  background: var(--background);
}
.btn-watch-online {
  position: absolute;
  top: 34.125rem;
  left: 55rem;
  z-index: 2;
  padding: 1em 3.2em;
}
@media screen and (max-width: 1024px) {
  .btn-watch-online {
    top: 20rem;
    left: 40rem;
  }
}

.btn:hover {
  background: var(--orange-hover);
  cursor: pointer;
}
.circle {
  position: absolute;

  background: var(--background);
  z-index: 1;
  width: 29.063rem;
  height: 29.063rem;
  border-radius: 50%;
  left: 50.438rem;
  top: 0.75rem;
}
@media screen and(max-width: 1440px) {
  .circle {
    width: 22.938rem;
    height: 22.938rem;
  }
}
@media screen and (max-width: 1024px) {
  .circle {
    width: 14.85rem;
    height: 14.85rem;
    left: 35rem;
    top: 0.75rem;
  }
}

/* *************** Backstage */
.hero {
  position: relative;
}
.container {
  display: flex;
  flex-direction: row;
  margin: 8.75em 7.5em;
  padding: 0;
  flex: 1;
}

.backstage-text {
  color: var(--black-1);
}
.backstage-img + .backstage-text {
  padding-left: 5.438em;
}

.container h3 {
  font-size: 3rem;

  font-weight: 400;
  line-height: 120%;
  margin-top: 0;
}
.container h4 {
  font-size: 1.5rem;

  font-weight: 400;
  line-height: 120%;
}
.container p {
  font-size: 1rem;

  font-weight: 400;
  line-height: 140%;
  margin-bottom: 0;
}
.img-right {
  position: absolute;
  right: 0;
  top: calc(2.438rem - 6.25rem);
  z-index: -1;
}
@media screen and (max-width: 1440px) {
  .img-decor {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .backstage-img {
    max-width: 28.438rem;
  }
  .img-section-2 {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
  }
  .container-backstage {
    flex-basis: 50%;
  }
  .backstage-img + .backstage-text {
    padding-left: 2em;
  }

  .container-backstage {
    margin: 4em 2em;
    flex-basis: 100%;
  }
}
/* *********** Pets block */
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card-container {
  max-width: 21rem;
  display: flex;
  flex-direction: column;
  margin: 1.875em;
  border: solid 1px var(--orange-grad);
  border-radius: 5px;
}

.info {
  background: rgba(27, 26, 26, 0.9);

  transition: all 0.3s ease-out;
  transform: translateX(-100%);
  position: absolute;
  line-height: 1.8;
  text-align: center;
  font-size: 105%;
  /* cursor: no-drop; */
  color: #fff;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.card-container {
  transition: all 0.3s ease-out;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 30%;
}
.info .card-text {
  padding-top: 3em;
  text-align: center;

  transition: 0.3s ease;
}

.info .card-text:hover {
  transform: translateZ(30px) scale(1.3);
}

.card-container:hover .info {
  transform: translateX(0);
}
.card-text {
  display: flex;
  flex-direction: column;
}
.card-text h4 {
  text-transform: uppercase;
}
.card-text p {
  color: var(--gray);
}
.card-text > * {
  margin: 0.3em;
}

.card-text-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1em;
}
.card-toggle-2 {
  display: none;
}

.container-with-arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5.625em;
  min-height: 80vh;
  margin-bottom: 5em;
}

.arrow {
  height: 1.25rem;
  width: 1.25rem;
  background: var(--background);
  padding: 1.25rem;
  border-radius: 50%;
  color: white;
  vertical-align: middle;
}
.arrow:hover {
  cursor: pointer;
  background: var(--orange-hover);
}
.img-container {
  position: relative;
}
.img-right-1 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.img-left {
  position: absolute;
  bottom: 0;
  left: 0;
}
.hero-1 {
  position: relative;
  min-height: 68.75rem;
  margin: 8em auto;
}
.btn-favorite {
  margin: auto;
}
.btn-container-1 {
  max-width: 20rem;
  margin: auto;
}

@media screen and (max-width: 1440px) {
  .cards {
    row-gap: 5.75rem;
  }
  .arrow-container {
    position: absolute;
  }
  .arrow-left {
    left: 35rem;
  }
  .arrow-right {
    right: 35rem;
  }
}
@media screen and (max-width: 1024px) {
  .container-with-arrow {
    padding: 2em;
    margin-bottom: 2em;
  }
  .card-container {
    height: 100%;
    width: 25%;
  }
  .card-text {
    font-size: 0.8rem;
  }
  .card-toggle-1 {
    display: none;
  }
  .card-toggle-2 {
    display: inline-block;
  }
  .card-img {
    height: 16rem;
    width: 16rem;
    object-fit: cover;
  }
  .arrow-left {
    left: 25rem;
  }
  .arrow-right {
    right: 25rem;
  }
}

/* ******** pick a friend */
.container-pick-a-friend {
  background: var(--background-2);
  display: flex;
  justify-content: center;
  min-height: 72.5vh;
}
.container-pick-a-friend-content {
  display: flex;
  flex-direction: column;
  background: var(--background-1);
  backdrop-filter: var(--backdrop-filter);
  max-width: 80vw;
  justify-content: center;
  align-items: center;
  margin: 8.75rem;
  padding: 3em;
  border-radius: 1.25rem;
}
.pick-a-friend-1 {
  display: flex;
  flex-direction: column;
  padding: 0 6.1875em;
}
.pick-a-friend-1 h3 {
  font-weight: 400;
  font-size: 3rem;
  line-height: 120%;
  color: var(--orange);
  align-self: center;
  margin: 0;
}
.pick-a-friend-1 h4 {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 130%;
  color: var(--black-1);
  align-self: center;
  margin-top: 1em;
}
.pick-a-friend-text1 {
  text-align: left;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 120%;
  color: var(--black-1);
}
.pick-a-friend-text2 {
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  line-height: 130%;
  color: var(--black-1);
  margin: 0.4em 0;
}
.pick-a-friend-text3 {
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  line-height: 130%;
  color: var(--black-1);
  margin: 0;
}
.pick-a-friend-text3 a {
  text-decoration: underline var(--orange);
  color: var(--black-1);
}
.pick-a-friend-2 {
  display: flex;
  flex-direction: row;
  padding-top: 1.5em;
  padding-bottom: 2em;
  justify-content: center;
  align-items: center;
}

.card-white {
  width: 10.5rem;
  height: 10.5rem;
  border: solid 1px var(--orange-2);
  background: white;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container-pick-a-friend-2 {
  display: flex;
  flex-direction: column;
  word-wrap: wrap;
  max-width: 10.5rem;
  color: var(--black-1);
}
.btn-feed-friend {
  padding: 1em 2.5em;
}
@media screen and (max-width: 1024px) {
  .pick-a-friend-1 {
    padding: 0 2em;
  }
  .pick-a-friend-1 h3 {
    font-size: 2.5rem;
  }
  .pick-a-friend-1 h4 {
    font-size: 2rem;
  }
}

/* ********* testimonials */
.wrapper {
  position: relative;
  padding: 8em 0;
}
.cards-testimonials {
  width: 72.5vw;
  margin: auto;
  display: grid;
  gap: 1em;
  grid-auto-flow: column;
  grid-auto-columns: 24%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.col {
  display: grid;
  grid-template-rows: min-content;
  gap: 1em;
  padding: 1em;
  border-image: var(--pink-gradient) 30% round;
  border-width: 2px;
  border-style: solid;
  margin-bottom: 1.25em;
  background: var(--gray-light);
  font-size: 0.9375rem;
  color: var(--gray);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--orange);
  border-radius: 10px;
  margin: 15.625em;
}

::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--orange-hover);
}

.testimonials-container {
  display: flex;
  flex-direction: row;
}
.testimonials-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0.8em;
}
.testimonials-content h4,
.testimonials-content p {
  margin: 0;
}
.testimonials-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.testimonials-info > * {
  padding: 0.1em;
}
.testimonials-title {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 130%;
  text-align: center;
  color: var(--black-1);
}
.btn-container {
  width: 72.5vw;
  margin: 2em auto;
}
.btn-feedback {
  border-radius: 5px;
}

.img-right-2 {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

@media screen and (max-width: 1440px) {
  .cards-testimonials {
    grid-auto-columns: 32%;
  }
  .wrapper {
    padding: 6em;
  }
  .testimonials-content p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 1024px) {
  .cards-testimonials {
    width: 75vw;
  }
  .wrapper {
    padding: 0em;
    padding-bottom: 3em;
  }
  ::-webkit-scrollbar-track {
    margin: 10em;
  }
  .col{
    font-size: 0.8rem;
  }
}
/* ******** footer */
.footer {
  background: var(--black-2);
  color: white;
  padding: 2.5em 8.75em;
}
.footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input-email {
  padding: 1em;
  font-size: 1rem;
  border: 1px solid var(--orange);
  color: white;
  background: var(--black-2);
  border-radius: 2px;
}
.input-email::placeholder {
  color: var(--gray-1);
}
.btn-submit {
  padding: 1em;
  border-radius: 5px;
  background: var(--glass-white);
  color: var(--green);
  border: 1px solid var(--green);
}
.btn-submit:hover {
  background: var(--green);
  color: white;
}
.btn-donate {
  margin: 2.75em 0;
  border-radius: 5px;
}
.footer-socials-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.footer-ref {
  font-weight: 100;
  font-size: 1rem;
  line-height: 130%;
}
.footer-nav-content {
  display: flex;
  flex-direction: row;
}
.footer-nav-content li {
  padding: 2em;
}
.footer-socials {
  display: inline-block;
}
.icon {
  margin: 0.5em;
  vertical-align: middle;
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 2.5em 4em;
  }
  .footer-nav-content li {
    padding: 1em;
  }
}

@media screen and (max-width: 768px) {
  .footer-ref {
    font-size: 0.9rem;
  }
}
