@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@100;400;700;900&display=swap");

:root * {
  font-family: "Roboto", sans-serif;
  --green: #4b9200;
  --orange: #f9804b;
  --orange-2: #fe9013;
  --orange-hover: #e47209;
  --yellow: #ffee2e;
  --orange-grad: #fed290;
  --pink-grad: #febdab;
  --rad: #d31414;
  --black-1: #333b41;
  --black-2: #111115;
  --gray: #767474;
  --gray-smoky: #ababab;
  --gray-light: #f1f3f2;
  --gray-1: #bdbdbd;
  --glass-white: #fdfdff;
  --background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  box-sizing: border-box;
  --background-1: rgba(253, 253, 255, 0.52);
  --backdrop-filter: blur(2px);
  --background-2: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  --opacity: 0.9;
  --pink-gradient: linear-gradient(
    to right,
    #febdab 74%,
    #f3a9f8 66%,
    #e0d8f0 100%,
    #eaf7fe 100%,
    #eaf7fe 100%
  );
}
ul li {
  list-style-type: none;
}
li a {
  text-decoration: none;
  color: white;
}
li:hover,
li:active,
a:hover,
a:active,
.active {
  color: var(--orange-hover);
  cursor: pointer;
}

.nav {
  background-color: black;
  color: white;
  width: 100vw;
}
.nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.1em 13.75em;
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}
.nav-content li {
  padding-left: 3.625em;
}
.nav-content li:last-child {
  margin-left: auto;
}
.img {
  max-width: 100vw;
}
.img-panda {
  width: 100vw;
  height: 24.375rem;
  object-fit: cover;
}
.card {
  position: relative;
  text-align: center;
  max-width: 25em;
}
.card-favorite h2 {
  position: absolute;

  z-index: 2;
  color: white;
  text-transform: uppercase;
  font-size: 6.65625rem;
  width: 31.269rem;
  height: 25rem;
  left: 55rem;
  top: 5.375rem;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  line-height: 75%;
}
.favorite-text {
  color: var(--yellow);
}
.btn {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem;
  word-wrap: nowrap;

  border: none;
  border-radius: 25px;
  background: var(--background);
}
.card-favorite .btn {
  position: absolute;
  top: calc(39.125rem - 5rem);
  left: 61.438rem;
  /* undone */
  z-index: 2;
  width: 298px;
  height: 54px;
}
.btn:hover {
  background: var(--orange-hover);
  cursor: pointer;
}

/* ******** pick a friend */
.container-pick-a-friend {
  background: var(--background-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 72.5vh;
}
.pick-a-friend-intro {
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  margin: 3em auto;

  color: white;
}
.pick-a-friend-intro h3 {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 130%;
  margin: 0;
}
.pick-a-friend-intro p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 140%;
}
.pick-a-friend-intro h4 {
  color: var(--orange);
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 130%;
  margin-right: auto;
}

.container-pick-a-friend-content {
  display: flex;
  flex-direction: column;
  background: var(--background-1);
  backdrop-filter: var(--backdrop-filter);
  max-width: 80vw;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-bottom: 3em;
  margin-bottom: 11em;
  border-radius: 20px;
}
.pick-a-friend-1 {
  display: flex;
  flex-direction: column;
  padding: 0 6.1875em;
}
.pick-a-friend-1 h3 {
  font-weight: 400;
  font-size: 3rem;
  line-height: 120%;
  color: var(--orange);
  align-self: center;
}
.pick-a-friend-1 h4 {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 130%;
  color: var(--black-1);
  align-self: center;
}
.pick-a-friend-text1 {
  text-align: left;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 120%;
  color: var(--black-1);
}
.pick-a-friend-text2 {
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  line-height: 130%;
  color: var(--black-1);
  margin: 0;
}
.pick-a-friend-text3 {
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  line-height: 130%;
  color: var(--black-1);
  margin: 0;
}
.pick-a-friend-text3 a {
  text-decoration: underline var(--orange);
  color: var(--black-1);
}
.pick-a-friend-2 {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  padding-bottom: 60px;
}

.card-white {
  width: 10.5rem;
  height: 10.5rem;
  border: solid 1px var(--orange-2);
  background: white;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container-pick-a-friend {
  display: flex;
  flex-direction: row;
  max-width: 10.5rem;
  color: var(--black-1);
  align-items: center;
  justify-content: center;
}
.card-container-pick-a-friend > * + * {
  padding-left: 5em;
}
.timeline {
  width: 800px;
  height: 20px;
  list-style: none;
  text-align: justify;
  margin: 80px auto;
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(45%, rgba(255, 255, 255, 0)),
    color-stop(51%, rgba(191, 128, 11, 1)),
    color-stop(57%, rgba(255, 255, 255, 0)),
    color-stop(100%, rgba(255, 255, 255, 0))
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 45%,
    rgba(191, 128, 11, 1) 51%,
    rgba(255, 255, 255, 0) 57%,
    rgba(255, 255, 255, 0) 100%
  );
}
.timeline:after {
  display: inline-block;
  content: "";
  width: 100%;
}
.timeline li {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #f2bb13;
  text-align: center;
  line-height: 1.2;
  position: relative;
  border-radius: 50%;
}
.timeline li:before {
  display: inline-block;
  content: attr(data-year);
  font-size: 26px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.timeline li:nth-child(odd):before {
  top: -40px;
}
.timeline li:nth-child(even):before {
  bottom: -40px;
}
.timeline li:after {
  display: inline-block;
  content: attr(data-text);
  font-size: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.timeline li:nth-child(odd):after {
  bottom: 0;
  margin-bottom: -10px;
  transform: translate(-50%, 100%);
}
.timeline li:nth-child(even):after {
  top: 0;
  margin-top: -10px;
  transform: translate(-50%, -100%);
}
.donate-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.donate-text span {
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
}
.donate-text p {
  white-space: nowrap;
}
.btn-feed-friend {
  padding: 1em 2.5em;
}
.multiply {
  font-size: 2rem;
}

/* ******** footer */
.footer {
  background: var(--black-2);
  color: white;
  padding: 40px 140px;
}
.footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input-email {
  padding: 1em;
  font-size: 1rem;
  border: 1px solid var(--orange);
  color: white;
  background: var(--black-2);
  border-radius: 2px;
}
.input-email::placeholder {
  color: var(--gray-1);
}
.btn-submit {
  padding: 1em;
  border-radius: 5px;
  background: var(--glass-white);
  color: var(--green);
  border: 1px solid var(--green);
}
.btn-submit:hover {
  background: var(--green);
  color: white;
}
.btn-donate {
  margin: 44px 0;
  border-radius: 5px;
}
.footer-socials-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.footer-ref {
  font-weight: 100;
  font-size: 1rem;
  line-height: 130%;
}
.footer-nav-content {
  display: flex;
  flex-direction: row;
}
.footer-nav-content li {
  padding: 2em;
}
.footer-socials {
  display: inline-block;
}
.icon {
  margin: 0.5em;
  vertical-align: middle;
}

