@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@100;400;700;900&display=swap");

:root * {
  font-family: "Roboto", sans-serif;
  --green: #4b9200;
  --orange: #f9804b;
  --orange-2: #fe9013;
  --orange-hover: #e47209;
  --yellow: #ffee2e;
  --orange-grad: #fed290;
  --pink-grad: #febdab;
  --rad: #d31414;
  --black-1: #333b41;
  --black-2: #111115;
  --gray: #767474;
  --gray-smoky: #ababab;
  --gray-light: #f1f3f2;
  --gray-1: #bdbdbd;
  --glass-white: #fdfdff;
  --background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  box-sizing: border-box;
  --background-1: rgba(253, 253, 255, 0.52);
  --backdrop-filter: blur(2px);
  --background-2: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  --opacity: 0.9;
  --pink-gradient: linear-gradient(
    to right,
    #febdab 74%,
    #f3a9f8 66%,
    #e0d8f0 100%,
    #eaf7fe 100%,
    #eaf7fe 100%
  );
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
}
li a {
  text-decoration: none;
  color: white;
}
li:hover,
li:active,
a:hover,
a:active,
.active {
  color: var(--orange-hover);
  cursor: pointer;
}

.nav {
  background-color: black;
  color: white;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.1em 2em;
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  flex-grow: 1;
}
.nav-content li {
  padding-left: 3.625em;
}
.nav-content li:last-child {
  margin-left: auto;
}
.logo-hamburger {
  display: none;
}
.nav-logo {
  font-style: normal;
  font-weight: 400;
  font-size: 1.188rem;
  line-height: 120%;
  text-align: center;
  color: white;
  border: 1.18841px solid #ffffff;
  width: 5.125rem;
  height: 3.25rem;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 13.75em;
}
.nav-logo a {
  text-decoration: none;
  color: white;
}
.nav-logo:after {
  content: "";
  width: 0.875rem;
  top: 1.375rem;
  left: 0.563rem;
  height: 1.313rem;
  position: absolute;
  background: url(./assets/bamboo.svg) no-repeat;
}

.nav-designed-by {
  margin-left: auto;
}

@media screen and (max-width: 1440px) {
  .nav-logo {
    margin-left: 8em;
  }
}
@media screen and (max-width: 1024px) {
  .nav-logo {
    margin-left: 2em;
  }
}

.img {
  max-width: 100vw;
}
.img-panda {
  width: 100vw;
}
.card {
  position: relative;
  text-align: center;
  /* max-width: 25em; */
}
.card-favorite h2 {
  position: absolute;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  font-size: 6.65625rem;
  width: 31.269rem;
  left: 55rem;
  top: 5.375rem;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  line-height: 75%;
}
.hamburger {
  display: none;
}
@media screen and (max-width: 1440px) {
  .card-favorite h2 {
    font-size: 5.313rem;
    max-width: 25.016rem;
  }
}
@media screen and (max-width: 1024px) {
  .card-favorite h2 {
    font-size: 3.393rem;
    max-width: 20rem;
    left: 35rem;
    top: 3.6rem;
  }
}
.favorite-text {
  color: var(--yellow);
}
.btn {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem;
  word-wrap: nowrap;
  border: none;
  border-radius: 25px;
  background: var(--background);
}
.btn-watch-online {
  position: absolute;
  top: 34.125rem;
  left: 55rem;
  z-index: 2;
  padding: 1em 3.2em;
}
@media screen and (max-width: 1024px) {
  .btn-watch-online {
    top: 20rem;
    left: 40rem;
  }
}

.btn:hover {
  background: var(--orange-hover);
  cursor: pointer;
}
.circle {
  position: absolute;
  background: var(--background);
  z-index: 1;
  width: 29.063rem;
  height: 29.063rem;
  border-radius: 50%;
  left: 50.438rem;
  top: 0.75rem;
}
@media screen and (max-width: 1440px) {
  .circle {
    width: 22.938rem;
    height: 22.938rem;
  }
}
@media screen and (max-width: 1024px) {
  .circle {
    width: 14.85rem;
    height: 14.85rem;
    left: 35rem;
    top: 0.75rem;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    justify-content: space-between;
  }
  .hamburger {
    display: block;
    margin-right: 2em;
    font-size: 2rem;
  }
  .nav-content {
    display: none;
  }
  .nav-content.active {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background: var(--gray-light);
  }
  .nav-content.active li {
    margin: 0;
    padding: 0.8em 0;
  }
  .nav-content.active a {
    color: var(--black-1);
  }
  .logo-hamburger {
    display: block;
  }

  .circle {
    left: 25rem;
    top: 0.75rem;
  }
  .card-favorite h2 {
    left: 25rem;
    top: 3.6rem;
  }
  .btn-watch-online {
    top: 17.438rem;
    left: 1.25rem;
  }
}
/* ******** pick a friend */
.container-pick-a-friend {
  background: var(--background-2);

  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 72.5vh;
}
.pick-a-friend-intro {
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  margin: 3em auto;

  color: white;
}
.pick-a-friend-intro h3 {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 130%;
}
.pick-a-friend-intro p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 140%;
}
.pick-a-friend-intro h4 {
  color: var(--orange);
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 130%;
  margin-right: auto;
  margin-top: 1em;
}

.container-pick-a-friend-content {
  display: flex;
  flex-direction: column;
  background: var(--background-1);
  backdrop-filter: var(--backdrop-filter);
  max-width: 80vw;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-bottom: 3em;
  margin-bottom: 11em;
  border-radius: 20px;
}
.pick-a-friend-1 {
  display: flex;
  flex-direction: column;
  padding: 0 6.1875em;
}
.pick-a-friend-1 h3 {
  font-weight: 400;
  font-size: 3rem;
  line-height: 120%;
  color: var(--orange);
  align-self: center;
  padding: 1em 0;
}
.pick-a-friend-1 h4 {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 130%;
  color: var(--black-1);
  align-self: center;
}
.pick-a-friend-text1 {
  text-align: left;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 120%;
  color: var(--black-1);
}
.pick-a-friend-text2 {
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  line-height: 130%;
  color: var(--black-1);
  margin: 0;
}
.pick-a-friend-text3 {
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  line-height: 130%;
  color: var(--black-1);
  margin: 0;
}
.pick-a-friend-text3 a {
  text-decoration: underline var(--orange);
  color: var(--black-1);
}
.pick-a-friend-2 {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  padding-bottom: 60px;
}

.card-white {
  width: 10.5rem;
  height: 10.5rem;
  border: solid 1px var(--orange-2);
  background: white;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container-pick-a-friend {
  display: flex;
  flex-direction: row;
  max-width: 10.5rem;
  color: var(--black-1);
  align-items: center;
  justify-content: center;
}
.card-container-pick-a-friend > * + * {
  padding-left: 5em;
}
.timeline {
  width: 60vw;
  height: 20px;
  list-style: none;
  text-align: justify;
  margin: 1em 5em 5em 5em;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 45%,
    rgba(191, 128, 11, 1) 51%,
    rgba(255, 255, 255, 0) 57%,
    rgba(255, 255, 255, 0) 100%
  );
}

.timeline::after {
  display: inline-block;
  content: "";
  width: 100%;
  background: var(--black-1);
}
.timeline li {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #f2bb13;
  text-align: center;
  line-height: 1.2;
  position: relative;
  border-radius: 50%;
}

.timeline li:before {
  display: inline-block;
  content: attr(data-amount);
  font-size: 1.5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline li:before {
  bottom: -40px;
}
.share {
  padding-top: 2em;
}
.radio-container {
  display: flex;
  flex-direction: row;
  margin: 2em;
  font-size: 1rem;
}
.radio-container > * {
  padding: 0 1em;
}

.donate-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.donate-text span {
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
}
.donate-text p {
  padding-top: 1em;
  white-space: nowrap;
}
/* @media screen and (max-width: 768px) {
  .amount-toggle {
    display: none;
  }
  .timeline li:nth-child(1)::before,  .timeline li:nth-child(2)::before, .timeline li:nth-child(3)::before{
    display: none;
    content: attr(data-amount);
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
} */

.timeline-title {
  margin-right: auto;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
  padding-left: 5em;
}

.btn-feed-friend {
  padding: 1em 2.5em;
}
.multiply {
  font-size: 2rem;
}

/* ******** footer */
.footer {
  background: var(--black-2);
  color: white;
  padding: 2.5em 8.75em;
}
.footer-logo {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input-email {
  padding: 1em;
  font-size: 1rem;
  border: 1px solid var(--orange);
  color: white;
  background: var(--black-2);
  border-radius: 2px;
}
.input-email::placeholder {
  color: var(--gray-1);
}
.btn-submit {
  padding: 1em;
  border-radius: 5px;
  background: var(--glass-white);
  color: var(--green);
  border: 1px solid var(--green);
}
.btn-submit:hover {
  background: var(--green);
  color: white;
}
.btn-donate {
  margin: 2.75em 0;
  border-radius: 5px;
}
.footer-socials-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.footer-ref {
  font-weight: 100;
  font-size: 1rem;
  line-height: 130%;
}
.footer-nav-content {
  display: flex;
  flex-direction: row;
}
.footer-nav-content li {
  padding: 2em;
}
.footer-socials {
  display: inline-block;
}
.footer-socials-2 {
  display: none;
}
.icon {
  margin: 0.5em;
  vertical-align: middle;
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 2.5em 4em;
  }
  .footer-nav-content li {
    padding: 1em;
  }
}

@media screen and (max-width: 768px) {
  .footer-ref {
    font-size: 0.9rem;
  }
  .input-container {
    display: none;
  }
  .social-text {
    display: none;
  }
  .footer-socials {
    display: none;
  }
  .footer-nav-content {
    padding: 0;
  }
  .footer {
    padding: 1em 2em;
  }
  .footer-socials-2 {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
  }
}
.input {
  color: var(--black-1);
  background: var(--gray-light);
}
